--
-- PostgreSQL database dump
--

-- Dumped from database version 16.3
-- Dumped by pg_dump version 16.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO "user";

--
-- Name: confirm_session; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.confirm_session (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.confirm_session OWNER TO "user";

--
-- Name: refresh_session; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.refresh_session (
    refresh_token uuid NOT NULL,
    access_token character varying NOT NULL,
    expires_in integer NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.refresh_session OWNER TO "user";

--
-- Name: reset_session; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.reset_session (
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.reset_session OWNER TO "user";

--
-- Name: roles; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(30) NOT NULL
);


ALTER TABLE public.roles OWNER TO "user";

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO "user";

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying NOT NULL,
    hashed_password character varying(1024) NOT NULL,
    is_verify boolean NOT NULL,
    is_deleted boolean NOT NULL,
    number bigint,
    first_name character varying NOT NULL,
    last_name character varying,
    region character varying,
    is_man boolean,
    role_id integer NOT NULL
);


ALTER TABLE public.users OWNER TO "user";

--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.alembic_version (version_num) FROM stdin;
4aa261fb5e25
\.


--
-- Data for Name: confirm_session; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.confirm_session (id, user_id, created_at) FROM stdin;
b07a8620-1566-425a-b59f-992cc7114ece	40b8b069-2be6-4ff7-a94c-e78f814cc63f	2024-12-07 04:51:25.645834+04
30379fd5-13b3-4678-b7b5-2ad69e5c0293	40b8b069-2be6-4ff7-a94c-e78f814cc63f	2024-12-07 04:52:28.426335+04
1b702e61-de23-4a92-a8df-49fc059d6e85	40b8b069-2be6-4ff7-a94c-e78f814cc63f	2024-12-07 04:54:43.329337+04
f7a3596f-b4bb-43bf-b5b9-3e0d3d5a212b	40b8b069-2be6-4ff7-a94c-e78f814cc63f	2024-12-07 04:55:41.433933+04
\.


--
-- Data for Name: refresh_session; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: reset_session; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.roles (id, name) FROM stdin;
1	User
2	Admin
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.users (id, email, hashed_password, is_verify, is_deleted, number, first_name, last_name, region, is_man, role_id) FROM stdin;
3da3d10c-b42f-47ab-85cb-e53440b7bac3	╤Л╨▓╨░╤Л@asd.ru	$2b$12$YDBW6hj2nnX7KFq7r6qBQ.EWbc6OD7yt9tfCzkZY101UMSmQQqeK.	f	f	78888888888	string	string	╨д╨╡╨┤╨╡╤А╨░╨╗╤М╨╜╤Л╨╣ ╨║╤А╤Г╨│	f	1
40b8b069-2be6-4ff7-a94c-e78f814cc63f	admin@admin.com	$2b$12$47byza6xD9e/YaknLwKV.O5eDuznoN01LC6KAAIiXWV1gywHg8QTe	f	f	79999999999	admin	admin	╨д╨╡╨┤╨╡╤А╨░╨╗╤М╨╜╤Л╨╣ ╨║╤А╤Г╨│	t	2
\.


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.roles_id_seq', 2, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: confirm_session confirm_session_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.confirm_session
    ADD CONSTRAINT confirm_session_pkey PRIMARY KEY (id);


--
-- Name: refresh_session refresh_session_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.refresh_session
    ADD CONSTRAINT refresh_session_pkey PRIMARY KEY (refresh_token);


--
-- Name: reset_session reset_session_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.reset_session
    ADD CONSTRAINT reset_session_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_confirm_session_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_confirm_session_id ON public.confirm_session USING btree (id);


--
-- Name: ix_refresh_session_refresh_token; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_refresh_session_refresh_token ON public.refresh_session USING btree (refresh_token);


--
-- Name: ix_reset_session_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_reset_session_id ON public.reset_session USING btree (id);


--
-- Name: confirm_session confirm_session_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.confirm_session
    ADD CONSTRAINT confirm_session_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: refresh_session refresh_session_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.refresh_session
    ADD CONSTRAINT refresh_session_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: reset_session reset_session_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.reset_session
    ADD CONSTRAINT reset_session_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

